<div class="example-container mat-elevation-z8">
    <!-------------------------------------------------------------------------------------------------------------->
    <!------------------------------------------------('header')-------------------------------------------------------->
    <!-------------------------------------------------------------------------------------------------------------->
    <mat-card style="width:95%;margin:3% 3% 3% 3%;border-radius: 2%">
        <mat-form-field class="px-8">
            <mat-select id="filterKey" name="filterKey" [(ngModel)]="filterKey" (ngModelChange)="load()">
                <mat-option *ngFor="let x of selectionQueryColumns" [value]="x">{{x}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="px-8">
            <input matInput style="margin-top: 2px" (blur)="load()" placeholder="Global Filter"
                   [(ngModel)]="filterValue">
        </mat-form-field>
        <button mat-flat-button matTooltip="aggiorna tabella" class="mx-4 newStyle" color="accent" (click)="load()"><i
                class="material-icons iconStyle">refresh</i></button>

        <button mat-flat-button matTooltip="Nuovo utente" class="mx-4" color="accent" routerLink="/users/new"><i
                class="material-icons">add_circle_outline</i></button>

    </mat-card>
    <!-------------------------------------------------------------------------------------------------------------->
    <!------------------------------------------------('list')-------------------------------------------------------->
    <!-------------------------------------------------------------------------------------------------------------->

    <app-list style="width:95%;margin:0 3% 0 3%;;border-radius: 2%" [fields_excluded_details]="fields_excluded_details"
              [data]="users"
              [from]="1"
              [displayCols]="displayedColumns" [actions]="actions_specific" (onAction)="actions($event)">

    </app-list>
    <mat-paginator style="width:95%;margin:0 3% 0 3%;;border-radius: 2%" [length]="dataSize" [pageSize]="rpp"
                   [pageSizeOptions]="pageSizeOptions" (page)="onPaginateChange($event)"></mat-paginator>
</div>
